#clients {
  background-color: #f4f9f8;
  padding: 80px 10px;
}

.clients__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.clients__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.clients__card,
.clients__card-image,
.clients__card-image img {
  width: 100%;
}

.clients__card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.clients__card-image {
  border-radius: 5px;
}

.clients__card-image img {
  border-radius: 5px;
  object-fit: cover;
}

.clients__card-content {
  padding: 20px;
}

.clients__card-badge {
  max-width: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 4px solid var(--green);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 12px;
}

.clients__card-badge span {
  color: #bbb;
  font-weight: 900;
}

.clients__card-badge p {
  font-size: 12px;
}

.clients__card-bottom h3 {
  font-size: 20px;
}

.clients__card-bottom p {
  font-size: 16px;
  margin-top: 4px;
}
