#comparison {
  padding: 80px 10px;
  background-color: #f4f9f8;
}

.comparison__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.comparison-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.comparison-table {
  max-width: 956px;
  width: 100%;
}

.comparison-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.comparison-table tr,
.comparison-table th,
.comparison-table td {
  border: 2px solid #d9d9d9;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

.comparison-table th {
  padding: 10px 0;
  background-color: #336e6d;
  color: var(--white);
}

.comparison-table td {
  padding: 40px 0;
}

.comparison-table th:nth-child(1) {
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  background-color: transparent;
  border-bottom-color: var(--white);
}

.comparison-table td:nth-child(1) {
  color: var(--green);
  background-color: #d9eeeb;
  border-left-color: var(--white);
  border-top-color: var(--white);
  border-bottom-color: var(--white);
}

.comparison-table .circle {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #292d32;
  margin: 0 auto;
}

.hubspot__card {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: 4px solid #336e6d;
  /* background-color: #336e6d; */
  height: fit-content;
}

.hubspot__card table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 10px;
}

.hubspot__card tr,
.hubspot__card th,
.hubspot__card td {
  border: 6px solid var(--white);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
}

.hubspot__card th {
  padding: 10px;
  background-color: #336e6d;
  color: var(--white);
  border-radius: 10px;
}

.hubspot__card th img {
  max-width: 123px;
  width: 100%;
  border-radius: 5px;
}

.hubspot__card td {
  padding: 24px 10px;
  background-color: #4a9c99;
  color: var(--white);
}

.hubspot__card .hubspot__circle {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: white;
  border: 4px solid var(--green);
  border-radius: 50%;
  outline: 2.4px solid white;
}
