#contact-form {
  background-color: #fcf5f0;
  padding: 80px 10px;
}

.contact-form__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form__container {
  border: 1px solid reds;
  width: 100%;
  background-color: var(--white);
  padding: 40px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 60px;
}

.contact__form-intro {
  margin-bottom: 60px;
}

.contact-form__intro-title {
  font-size: 24px;
}

.contact-form__intro-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  margin-top: 20px;
}

.contact__form-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact__form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 40px;
}

.contact__form-inputs label,
.contact__form-inputs input {
  width: 100%;
}

.contact__form-inputs label p,
.contact__form-textarea p {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 8px;
}

.contact__form-inputs input,
.contact__form-textarea textarea {
  border: 1px solid #e7e7e7;
  background-color: #f6f6f6;
  height: 56px;
  outline: none;
  padding-inline: 20px;
  border-radius: 10px;
}

.contact__form-textarea textarea {
  width: 100%;
  height: 150px;
  resize: none;
  padding-block: 15px;
}

.contact-form__bottom {
  margin-top: 60px;
}

.privacy-section h3 {
  font-size: 24px;
}

.privacy__confirm-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0;
  margin-block: 20px;
}

.privacy-checkbox {
  display: flex;
  gap: 8px;
}

.privacy-checkbox label {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
  cursor: pointer;
}

.privacy-link {
  margin-top: 12px;
  margin-bottom: 60px;
  max-width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}

.privacy-link a {
  color: var(--orange);
}

.privacy-link span {
  color: #ccc;
}

.form-submit-btn {
  display: flex;
  justify-content: flex-end;
}

.form-submit-btn button {
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0;
  border-radius: 5px;
  max-width: 192px;
  height: 51px;
  width: 100%;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease;
}

.form-submit-btn button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}
