#features {
  padding: 80px 10px;
  background-color: var(--white);
}

.features__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.features__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.features__card:first-child {
  grid-column: 1 / 4;
}

.features__card:first-child .features__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 72px 40px;
}

.features__card:first-child .features__card-text {
  max-width: 520px;
  width: 100%;
}

.pricing-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #d9d9d9;
  border-radius: 5px 5px 0 0;
  text-align: center;
  border-top-right-radius: 5px !important;
  border-top-left-radius: 5px !important;
}

.pricing-table th,
.pricing-table td {
  padding: 14px 15.33px;
  border: 2px solid #d9d9d9;
  font-weight: 700;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
}

.pricing-table tr td:nth-child(1) {
  background-color: #f6f6f6;
}

.pricing-table thead th:first-child {
  background-color: #f6f6f6;
}

.pricing-table thead th:nth-child(2) {
  background-color: #e9ad88;
  color: var(--white);
}

.pricing-table thead th:nth-child(3) {
  background-color: #863126;
  color: var(--white);
}

.features__card {
  border-radius: 5px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25);
}

.features__card-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background-color: var(--orange);
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.features__card-number {
  padding: 1px 15.5px;
  background-color: #f9e8db;
  color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0%;
}

.features__card-title {
  font-size: 20px;
  color: var(--white);
}

.features__card-content {
  padding: 20px;
}

.features__card-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;
}
