#hero {
  padding: 80px 10px;
}

#hero .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__image {
  position: relative;
  max-width: 540px;
  width: 100%;
  height: 487.92px;
  border-radius: 200px 50px;
  background: linear-gradient(90deg, #d8663a 0%, #f8da49 100%);
  padding: 4px;
  overflow: hidden;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 196px 46px;
  display: block;
}

.hero__title {
  font-size: 32px;
}

.hero__price-badge {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.hero__price {
  padding: 10px 20px;
  background-color: var(--green);
  border-radius: 50px 20px;
}

.hero__price span {
  font-size: 28px;
  color: var(--white);
}

.hero__price-suffix {
  font-size: 28px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0%;
}

.hero__tag {
  position: relative;
  max-width: 344px;
  padding: 10px 40px;
  background-color: var(--yellow);
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.hero__tag::after {
  content: "";
  position: absolute;
  bottom: -24.5px;
  left: 26px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 25px solid var(--yellow);
  filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.25));
}

.hero__tag span {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0%;
}

.hero__logo {
  margin-top: 37px;
  margin-bottom: 60px;
}

.hero__cta-btn {
  padding: 16px 38px;
  border-radius: 10px;
  background: linear-gradient(
    89.97deg,
    var(--orange) 0.03%,
    var(--yellow) 162.44%
  );
  color: var(--white);
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: 0%;
}

.hero__cta-btn:hover {
  opacity: 0.9;
  transform: translateY(-0.5px);
}
