#integrations {
  background-color: #f4f9f8;
  padding: 80px 10px;
}

.integrations__title {
  text-align: center;
  font-size: 32px;
}

.integrations__title + img {
  margin: 40px auto 105px;
  display: block;
}

.integrations__cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.integrations__cards-line {
  position: absolute;
  height: 4px;
  background-color: var(--green);
  top: -67px;
  left: 50%;
  transform: translateX(-50%);
}

.integrations__card {
  position: relative;
  border-radius: 10px;
  border: 1px solid var(--green);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background-color: var(--white);
}

.integrations__card::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--green);
  border-radius: 50%;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.integrations__card::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 45px;
  background-color: var(--green);
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
}

.integrations__header {
  background-color: var(--green);
  border-radius: 5px;
  margin-bottom: 20px;
}

.integrations__header h3 {
  text-align: center;
  font-size: 20px;
  color: var(--white);
}

.integrations__body img {
  display: block;
  margin: 0 auto;
}

.integrations__body img:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}
