#management-features {
  padding: 80px 10px;
}

.management-features__title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

.management-features__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.management-features__card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.management-features__card-top {
  background-color: var(--orange);
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 20px;
}

.management-features__card-top {
  font-size: 20px;
  color: var(--white);
}

.management-features__card-content {
  padding: 33px 20px;
}

.management-features__card-content {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0;
}
