#navbar {
  padding: 12px 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
}

.navbar-wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__inner {
  max-width: 634px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navbar__menu-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  transition: color 0.2s ease;
}

.navbar__menu-item:hover {
  color: var(--orange);
}

.navbar__btn {
  padding: 13.5px 30px;
  border-radius: 200px;
  background: linear-gradient(
    89.97deg,
    var(--orange) 0.03%,
    var(--yellow) 162.44%
  );
  color: var(--white);
  transition: all 0.2s ease;
}

.navbar__btn:hover {
  opacity: 0.9;
  transform: translateY(-0.5px);
}
