#promotion {
  margin: 0 10px;
  padding: 80px 0;
  background-color: var(--orange);
  border-radius: 10px;
}

.promotion__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.promotion__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.promotion__arrow-left,
.promotion__arrow-right {
  width: 4px;
  border-radius: 4px;
  height: 40px;
  background-color: var(--white);
}

.promotion__arrow-left {
  transform: rotate(-25deg);
  margin-right: 10px;
}

.promotion__arrow-right {
  transform: rotate(25deg);
  margin-left: 10px;
}

.promotion__badge {
  background-color: var(--yellow);
  padding: 10px 20px;
  border-radius: 5px;
}
.promotion__badge p {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
  text-align: center;
  color: var(--orange);
  width: 87px;
}

.promotion__content-text {
  font-size: 32px;
  color: var(--white);
  max-width: 287px;
  width: 100%;
}

.promotion__btn {
  background: var(--white);
  border-radius: 10px;
  padding: 16px 24px;
  margin-top: 40px;
  color: var(--orange);
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}

.promotion__btn:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}
