@import url("./global.css");
@import url("./components/navbar.css");
@import url("./components/hero.css");
@import url("./components/problems.css");
@import url("./components/features.css");
@import url("./components/savings.css");
@import url("./components/promotion.css");
@import url("./components/onboarding-process.css");
@import url("./components/clients.css");
@import url("./components/services.css");
@import url("./components/contact-form.css");
@import url("./components/footer.css");
