@import url("./global.css");
@import url("./components/navbar.css");
@import url("./components/hero.css");
@import url("./components/problems.css");
@import url("./components/features.css");
@import url("./components/savings.css");
@import url("./components/promotion.css");
@import url("./components/onboarding-process.css");
